{namespace plugin.pullRequest.tableExtraData}

/**
 * @param pullRequest
 **/
{template .mergeabilityColumn}
	{if $pullRequest.mergeable }
		<i class="fas fa-check"></i>
	{elseif not $pullRequest.mergeable}
		{foreach $veto in $pullRequest.vetoIcons}
			<i class="fas fa-{$veto.cssStyleName}" title="{$veto.message}"></i>
		{/foreach}
	{/if}
{/template}